@font-face {
  font-family: "NanumSquareRound Bold";
  src: url("./assets/fonts/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound Extra Bold";
  src: url("./assets/fonts/NanumSquareRoundEB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound Regular";
  src: url("./assets/fonts/NanumSquareRoundR.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound Light";
  src: url("./assets/fonts/NanumSquareRoundL.ttf") format("truetype");
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "NanumSquareRound Regular", sans-serif; // 기본 폰트로 NanumSquareRound Regular 설정
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  // 자주 쓰는 색상코드 정리 : 장점 : 일괄 색 변경이 편리하다
  --color-primary-blue: #a8d1f7;
  --color-secondary-blue: #78beff;
  --color-primary-violet: #9378ff;
  --color-secondary-violet: #b8a7ff;
  --color-primary-grey: #edecec;
  --color-secondary-grey: #b4abab;
  --color-primary-green: #78ff96;
  --color-primary-navy: #1e22bf;
  --color-primary-gray: #707070;
  --color-primary-black: #222222;
  --color-primary-white: #ffffff;
  --color-opacity-blue: #78beff47;
  // 겹치는 색상 검색 후 위 변수명으로 통일할것
  --color-btn-blue: #78beff;
  --color-background-blue: #a8d1f7;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
  font-family: "NanumSquareRound Light", sans-serif; // 기본 폰트로 NanumSquareRound Light 설정
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  font-family: "NanumSquareRound Regular", sans-serif; // 기본 폰트로 NanumSquareRound Light 설정 //font-face로 전역으로 폰트설정을 해도 안먹는 경우 이렇게 따로 설정
}
.link-style {
  color: white;
  font-weight: Bold;
  font-size: large;
  font-family: "NanumSquareRound Regular";
  margin: 5px 0px;
  text-decoration: none;
}
